<h1> Youngest director </h1>

The youngest director in our dataset right now is 
<a href="/director/<%=@youngest_director_id%>"> <%= @youngest_director_name %></a>, 
born on <%= @youngest_director_dob%> 
